<!-- /users -->
<%= @art %>
<div class="container">
  <nav>
   <div class="nav-wrapper">
     <form>
       <div class="input-field">
         <input id="search" type="search" required>
         <label for="search"><i class="material-icons">search</i></label>
         <i class="material-icons">close</i>
       </div>
     </form>
   </div>
 </nav>
 <h1>Users Index Page</h1>
  <div class="row">

<% @users.each do |user| %>

          <div class="col s12 m4 12">
            <div class="card">
              <div class="card-image">

              <a href='/users/<%= user.id %>'><img src="<%= user.image %>" class="indexUserImg" ></a>
           <!--    <span class="card-title">Card Title</span> -->
              </div> <!-- card-image -->
              <div class="card-content">
              <%= user.location %>
              </div> <!-- card-content -->
              <div class="card-action">
                <a href='/users/<%= user.id %>'>Tagger Profile</a>
              </div> <!-- card-action -->
            </div> <!-- card -->
          </div> <!-- col s12 m7 -->
                  <% end %>
                  <button class="btn-floating btn-large waves-effect waves-light red" id="add-image-button" type="submit" name="action"><i class="material-icons">add</i></button>
<!-- 
        button goes to add new art post
        then when creates a post, redirected to arts ALL -->

        </div> <!-- row -->
</div>  <!-- container -->
