<!-- users/:id -->
<div class="container">
  <h1> Tagger Profile Page </h1>
  <div class="row">
  <!--   <div class="col s3"></div> -->
    <div class="col s12 m6">



   <!--   <div class="col s3"></div> -->

<img class="responsive-img" id="profileImg" src= "http://www.ourwang.com/finalwp/wp-content/uploads/2014/12/Ben-Hulan.jpg" class="profileImage">
<!-- Add better button formatting below -->
<div class="row">
<div class="col m4">

</div>
</div>




    </div>
    <div class="col s12 m6">
      <p>Welcome <%= @user.first_name %></p>
      <ul>
        <li><%= @user.first_name %> <%= @user.last_name %></li>
        <li><%= @user.location %></li>
        <li><%= @user.email %></li>
        <li><%= @user.created_at %></li>
        <br>
        <a href="/users/<%= @user.id %>/edit">
          <button class="btn waves-effect waves-light green">
            Edit
          </button>
        </a>
      </ul>
    </div>
  </div>

<h3>My Art Posts</h3>
<div class="row">
  <% @user.arts.each do |art| %>
    <div class"col s12 m4 12">
      <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="<%= art.image %>">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
    </div>

  <% end %>


</div>
</div> <!-- container
