 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

<div class="container">
  <div class="row">
  <nav>
   <div class="nav-wrapper">
     <form>
       <div class="input-field">
         <div class="row">
            <%= form_tag search_arts_path, :method => 'get' do %>
            <%= text_field_tag :search %>
            <%= submit_tag "Search" %>
            <% end %>
        </div>
       </div>
     </form>
   </div>
 </nav>
 </div>

<h1>This is the Home Page</h1>

<div class="row">

<% @arts.each do |art| %>
<div class="col s12 m4 12">
 <div class="card">
    <div class="card-image waves-effect waves-block waves-light card-height">
      <img class="activator" src="<%= art.image %>">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>


      <% art.tags.each do |tag| %>
      <div class="chip">
      <%= tag.description %>
      <i class="material-icons">close</i>
      </div>
      <% end %>




    </div>
  </div>
  </div>
  <% end %>

</div>
</div>
